In [1]:
import pandas as pd
songs = pd.read_csv('ml-03-data-processing-songs-dataset.csv')

In [2]:
songs.head()

,Index,Title,Artist,Top Genre,Year,Month,Beats Per Minute (BPM),Energy,Danceability,Loudness (dB),Liveness,Valence,Length (Duration),Acousticness,Speechiness,Popularity
0,1,Sunrise,Norah Jones,adult standards,2004.0,10,157.0,30.0,53.0,-14.0,11.0,68.0,201,94.0,3.0,71.0
1,2,Black Night,Deep Purple,album rock,2000.0,3,135.0,79.0,50.0,-11.0,17.0,81.0,207,17.0,7.0,39.0
2,3,Clint Eastwood,Gorillaz,alternative hip hop,2001.0,6,168.0,69.0,66.0,-9.0,7.0,52.0,341,2.0,17.0,69.0
3,4,The Pretender,Foo Fighters,alternative metal,2007.0,1,173.0,96.0,43.0,-4.0,3.0,37.0,269,0.0,4.0,76.0
4,5,Waitin' On A Sunny Day,Bruce Springsteen,classic rock,2002.0,8,106.0,82.0,58.0,-5.0,10.0,87.0,256,1.0,3.0,59.0

In [3]:
songs.describe()

,Index,Year,Beats Per Minute (BPM),Energy,Danceability,Loudness (dB),Liveness,Valence,Acousticness,Speechiness,Popularity
count,1994.000000,1987.000000,1985.000000,1986.000000,970.000000,1987.000000,1986.000000,960.000000,1986.000000,1990.000000,1987.000000
mean,997.500000,1959.526422,120.230730,59.664149,52.983505,-9.009562,19.013092,50.820833,28.897281,4.989950,59.518873
std,575.762538,250.650856,28.625839,22.159565,15.426169,3.652092,16.739697,24.955125,29.020822,4.402899,14.362661
min,1.000000,92.000000,15.000000,3.000000,10.000000,-27.000000,2.000000,5.000000,0.000000,2.000000,11.000000
25%,499.250000,1978.000000,99.000000,42.000000,42.000000,-11.000000,9.000000,30.000000,3.000000,3.000000,49.000000
50%,997.500000,1993.000000,119.000000,61.000000,53.000000,-8.000000,12.000000,49.000000,18.000000,4.000000,62.000000
75%,1495.750000,2007.000000,136.000000,78.000000,64.000000,-6.000000,23.000000,71.000000,50.000000,5.000000,71.000000
max,1994.000000,2019.000000,305.000000,100.000000,96.000000,-2.000000,99.000000,98.000000,99.000000,55.000000,100.000000

In [4]:
songs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1994 entries, 0 to 1993
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Index                   1994 non-null   int64
 1   Title                   1991 non-null   object
 2   Artist                  1986 non-null   object
 3   Top Genre               1986 non-null   object
 4   Year                    1987 non-null   float64
 5   Month                   1994 non-null   object
 6   Beats Per Minute (BPM)  1985 non-null   float64
 7   Energy                  1986 non-null   float64
 8   Danceability            970 non-null    float64
 9   Loudness (dB)           1987 non-null   float64
 10  Liveness                1986 non-null   float64
 11  Valence                 960 non-null    float64
 12  Length (Duration)       1985 non-null   object
 13  Acousticness            1986 non-null   float64
 14  Speechiness             1990 non-null   float64
 15  Popularity              1987 non-null   float64
dtypes: float64(10), int64(1), object(5)
memory usage: 249.4+ KB

In [5]:
#Min year is 92. I'm going to assume its 1992 and change it.
songs['Year'].replace(92,1992, inplace=True)
songs = songs[songs.Year.notna()] #must have a year

In [6]:
#year should be an int, not float
songs["Year"] = songs['Year'].apply(lambda x: int(x))

In [7]:
#half of danceability and valence is null. lesson says to drop when less than 50%
songs.dropna(thresh=len(songs.axes[1])/2,axis=0,inplace=True)
songs.drop(columns=['Danceability','Valence'],inplace=True)

In [8]:
songs['Length (Duration)'].unique()

array(['201', '207', '341', '269', '256', '247', '257', '366', '223',
       '290', '162', '232', '214', '639', '173', '236', '288', '276',
       '352', '296', '218', '176', '197', '261', '270', '298', '259',
       '306', '310', '211', '186', '185', '264', '202', '263', '266',
       '629', '177', '237', '278', '331', '355', '213', '234', '216',
       '275', '467', '243', '219', '305', '215', '144', '195', '240',
       '357', '297', '281', '273', '212', '279', '249', '229', '394',
       '375', '226', '210', '258', '283', '231', '268', '403', '321',
       '217', '308', '206', '208', '242', '326', '199', '225', '193',
       '302', '294', '238', '433', '324', '154', '245', '248', '311',
       '272', '289', '253', '181', '184', '203', '280', '146', '196',
       '204', '602', '353', '189', '423', '233', '135', '141', '241',
       '262', '346', '319', '284', '501', '287', '170', '187', '171',
       '414', '252', '209', '364', '246', '235', '161', '274', '286',
       '172', '404', '239', '244', '291', '251', '260', '190', '122',
       '336', '228', '222', '267', '220', '139', '227', '277', '125',
       '335', '386', '376', '150', '174', '317', '343', '192', '137',
       '345', '303', '136', '295', '194', '224', '451', '347', '332',
       '250', '282', '312', '200', '322', '198', '379', '230', '205',
       '183', '330', '320', '140', '328', '182', '221', '165', '188',
       '285', '339', '265', '526', '175', '809', '315', '158', '255',
       '301', '163', '148', '304', '484', '373', '456', '532', '299',
       '159', '348', '167', '468', '254', '293', '155', '384', '157',
       '405', '598', '382', '427', '318', '358', '180', '360', '391',
       '671', '152', '191', '179', '292', '455', '620', '168', '160',
       '309', '147', '344', '663', '444', '166', '483', '435', '1,412',
       '271', '300', '342', '471', '502', '517', '377', '443', '108',
       '388', '511', '350', '581', '102', '153', '1,121', '387', '559',
       '383', '469', '575', '313', '421', '349', '169', '333', '1,367',
       '410', '149', '354', '811', '508', '428', '367', '576', '325',
       '525', '715', nan, '445', '513', '323', '362', '399', '134', '371',
       '653', '334', '488', '590', '314', '93', '457', '448', '327',
       '138', '365', '351', '361', '966', '489', '452', '859', '407',
       '478', '408', '458', '409', '521', '340', '368', '156', '417',
       '434', '419', '356', '506', '178', '515', '401', '338', '418',
       '406', '142', '446', '390', '659', '337', '395', '536', '389',
       '393', '564', '385', '438', '374', '316', '378', '527', '411',
       '396', '430', '164', '126', '370', '127', '123', '120', '703',
       '151', '130', '413', '450', '449', '1,292', '119', '128'],
      dtype=object)

In [9]:
#Length is object because of some commas for thousands numbers. should be int.
#remove commas, join it back.
for i in range(0,len(list(songs.index))):
    try: 
        if ',' in songs.iloc[i]['Length (Duration)']:
            j = songs.iloc[i]['Length (Duration)'].split(',')
            no_comma =''.join(j)
            songs.replace(songs.iloc[i]['Length (Duration)'],no_comma,inplace=True,limit=1)
    except:
        pass

In [10]:
#Month is object and some months are spelled. should be int.
#for look to go through Month and replace the abbr with correct number
month_dict = {"Jan":1,"Feb":2,"Mar":3,"Apr":4,"May":5,"Jun":6,"Jul":7,"Aug":8,"Sep":9,"Oct":10,"Nov":11,"Dec":12}

for i in range(0,len(list(songs.index))):
    try:
        if songs.iloc[i]['Month'] in list(month_dict.keys()):
            songs.replace(songs.iloc[i]['Month'], str(month_dict[songs.iloc[i]['Month']]), inplace = True)
    except:
        pass #keep going

#Tom walked through a quicker way using %b with datetime. Much less code! Check zoom recording from 9/6.

In [11]:
#cast them both to integers
songs["Month"] = songs['Month'].apply(lambda x: int(x))

In [12]:
#songs['Length (Duration)'] = songs['Length (Duration)'].apply(lambda x: int(x))
#There are nulls in length (duration, so a lambda function isn't going to work. Need to cast this as an int in a different way.
#pandas has to_numeric. I think it skips nulls and lets them be!
songs['Length (Duration)'] = pd.to_numeric(songs['Length (Duration)'],downcast='integer')

In [13]:
songs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1984 entries, 0 to 1993
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Index                   1984 non-null   int64
 1   Title                   1984 non-null   object
 2   Artist                  1983 non-null   object
 3   Top Genre               1983 non-null   object
 4   Year                    1984 non-null   int64
 5   Month                   1984 non-null   int64
 6   Beats Per Minute (BPM)  1983 non-null   float64
 7   Energy                  1982 non-null   float64
 8   Loudness (dB)           1981 non-null   float64
 9   Liveness                1981 non-null   float64
 10  Length (Duration)       1981 non-null   float64
 11  Acousticness            1982 non-null   float64
 12  Speechiness             1983 non-null   float64
 13  Popularity              1983 non-null   float64
dtypes: float64(8), int64(3), object(3)
memory usage: 232.5+ KB

In [14]:
songs.describe()

,Index,Year,Month,Beats Per Minute (BPM),Energy,Loudness (dB),Liveness,Length (Duration),Acousticness,Speechiness,Popularity
count,1984.000000,1984.000000,1984.000000,1983.000000,1982.000000,1981.000000,1981.000000,1981.000000,1982.000000,1983.000000,1983.000000
mean,996.207157,1992.986391,6.522681,120.234493,59.644299,-9.018173,19.009086,262.620899,28.929364,4.993444,59.497731
std,575.972060,16.112981,3.419485,28.639923,22.172175,3.652130,16.737453,93.843197,29.040765,4.410045,14.367066
min,1.000000,1956.000000,1.000000,15.000000,3.000000,-27.000000,2.000000,93.000000,0.000000,2.000000,11.000000
25%,496.750000,1979.000000,4.000000,99.000000,42.000000,-11.000000,9.000000,212.000000,3.000000,3.000000,49.000000
50%,996.500000,1993.000000,7.000000,119.000000,61.000000,-9.000000,12.000000,245.000000,18.000000,4.000000,62.000000
75%,1494.250000,2007.000000,9.000000,136.000000,78.000000,-6.000000,23.000000,290.000000,50.000000,5.000000,71.000000
max,1994.000000,2019.000000,12.000000,305.000000,100.000000,-2.000000,99.000000,1412.000000,99.000000,55.000000,100.000000

In [15]:
songs['Beats Per Minute (BPM)'].std()

28.63992295757747

In [16]:
# Calculate descriptive statistics for each column
# Let's define an outlier as a value at least 3 standard deviations away from the mean. 
# Which columns have outliers? What are those values?

#mean +/- 3 standard deviations
#for loop going through each column. if 3 std more or les than mean.
#inspo: https://stackoverflow.com/questions/23199796/detect-and-exclude-outliers-in-a-pandas-dataframe?noredirect=1&lq=1
def outlier(input, mean, std):
    if ((mean + 3*std) < input) or ((mean - 3*std)> input):
        return [True, input]
    else:
        return [False, input]


 #go through each column in the list, if in that column, the value is an outlier, append it to the list. if not, move   
for x in list(songs.columns):
    try:
        outlier_list = []
        print(x)
        for y in songs[x]:
            if outlier(y,songs[x].mean(),songs[x].std())[0]:
                outlier_list.append(outlier(y,songs[x].mean(),songs[x].std())[1])
        print(outlier_list)
    except:
        continue

Index
[]
Title
Artist
Top Genre
Year
[]
Month
[]
Beats Per Minute (BPM)
[18.0, 305.0, 15.0, 297.0]
Energy
[]
Loudness (dB)
[-21.0, -20.0, -22.0, -22.0, -20.0, -20.0, -24.0, -20.0, -21.0, -22.0, -24.0, -27.0, -21.0, -21.0, -22.0, -21.0, -21.0, -20.0, -21.0, -22.0, -22.0, -21.0]
Liveness
[81.0, 70.0, 93.0, 79.0, 70.0, 97.0, 70.0, 83.0, 72.0, 97.0, 97.0, 87.0, 96.0, 71.0, 99.0, 92.0, 78.0, 95.0, 71.0, 90.0, 81.0, 95.0, 87.0, 91.0, 85.0, 89.0, 76.0, 73.0, 72.0, 85.0, 73.0, 86.0, 76.0, 73.0, 82.0, 77.0, 97.0, 85.0, 99.0, 78.0, 98.0, 96.0, 93.0, 85.0, 94.0, 77.0, 91.0, 96.0, 84.0, 97.0, 76.0, 73.0, 92.0, 80.0, 76.0, 83.0, 76.0]
Length (Duration)
[639.0, 629.0, 602.0, 809.0, 598.0, 598.0, 671.0, 620.0, 663.0, 1412.0, 581.0, 1121.0, 559.0, 575.0, 1367.0, 811.0, 576.0, 715.0, 653.0, 590.0, 966.0, 859.0, 659.0, 564.0, 703.0, 1292.0]
Acousticness
[]
Speechiness
[25.0, 26.0, 30.0, 23.0, 24.0, 19.0, 24.0, 20.0, 39.0, 23.0, 20.0, 19.0, 32.0, 19.0, 24.0, 44.0, 30.0, 24.0, 25.0, 31.0, 20.0, 46.0, 38.0, 55.0, 22.0, 23.0, 32.0, 36.0, 19.0, 31.0, 26.0, 28.0, 30.0, 20.0, 30.0, 29.0, 31.0, 19.0, 27.0, 32.0, 39.0, 41.0]
Popularity
[16.0, 14.0, 15.0, 13.0, 16.0, 16.0, 15.0, 12.0, 11.0]

In [17]:
#With the remaining columns, use scikit-learn to impute missing values.
# For continuous features, fill in the mean. 
# For categorical features, fill in the mode. mode is most frequent strategy

#inspo: https://scikit-learn.org/stable/modules/impute.html
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

mean_imp = SimpleImputer(missing_values=np.nan, strategy='mean')

mode_imp = SimpleImputer(strategy='most_frequent')

for x in list(songs.columns)[1:]:
    if type(songs[x][0])==type(float) or type(songs[x][0])==type(int):
        songs[x] = mean_imp.fit_transform(songs[x].values.reshape(-1,1))
    else:
        songs[x] = mode_imp.fit_transform(songs[x].values.reshape(-1,1))

#Reminder: This might not be accurate for the data but it will help the machine learning.
#This will input the mean length into a song w/ a null length. That's not the length of the song but it will be a point for ML to work with.

In [18]:
songs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1984 entries, 0 to 1993
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Index                   1984 non-null   int64
 1   Title                   1984 non-null   object
 2   Artist                  1984 non-null   object
 3   Top Genre               1984 non-null   object
 4   Year                    1984 non-null   int64
 5   Month                   1984 non-null   int64
 6   Beats Per Minute (BPM)  1984 non-null   float64
 7   Energy                  1984 non-null   float64
 8   Loudness (dB)           1984 non-null   float64
 9   Liveness                1984 non-null   float64
 10  Length (Duration)       1984 non-null   float64
 11  Acousticness            1984 non-null   float64
 12  Speechiness             1984 non-null   float64
 13  Popularity              1984 non-null   float64
dtypes: float64(8), int64(3), object(3)
memory usage: 297.0+ KB

In [19]:
# Combine the date-related columns into one column with the Pandas to_datetime() method, then use that column to create a numeric Age column (in years). 
# Calculate Age based on today's date; it doesn't have to be a whole number. 
# Once you've created the Age column, remove the other date-related columns, including the one you created with Pandas.

In [20]:
import datetime
datetime_strs = []
for indx, row in songs.iterrows():
    datetime_strs.append(datetime.date(row['Year'],row['Month'],1))

songs['Combined Dates'] = datetime_strs

In [21]:
#https://www.geeksforgeeks.org/python-datetime-toordinal-method-with-example/
#toordinal is number of days since year 1! 
#Take num of days since today, minus num of days since the DATE. Gives x number of days since the song has been out. divide by 365 to see how many years.
today = datetime.datetime.today().toordinal()

ages =[]
for dates in songs['Combined Dates'].values:
    ages.append((today-dates.toordinal())/365)

songs['Age'] = ages

In [22]:
songs.head()

,Index,Title,Artist,Top Genre,Year,Month,Beats Per Minute (BPM),Energy,Loudness (dB),Liveness,Length (Duration),Acousticness,Speechiness,Popularity,Combined Dates,Age
0,1,Sunrise,Norah Jones,adult standards,2004,10,157.0,30.0,-14.0,11.0,201.0,94.0,3.0,71.0,2004-10-01,17.945205
1,2,Black Night,Deep Purple,album rock,2000,3,135.0,79.0,-11.0,17.0,207.0,17.0,7.0,39.0,2000-03-01,22.534247
2,3,Clint Eastwood,Gorillaz,alternative hip hop,2001,6,168.0,69.0,-9.0,7.0,341.0,2.0,17.0,69.0,2001-06-01,21.282192
3,4,The Pretender,Foo Fighters,alternative metal,2007,1,173.0,96.0,-4.0,3.0,269.0,0.0,4.0,76.0,2007-01-01,15.693151
4,5,Waitin' On A Sunny Day,Bruce Springsteen,classic rock,2002,8,106.0,82.0,-5.0,10.0,256.0,1.0,3.0,59.0,2002-08-01,20.115068

In [23]:
songs.drop(columns = 'Year', inplace = True)
songs.drop(columns= 'Month', inplace = True)
songs.drop(columns = 'Combined Dates', inplace = True)

In [24]:
#Create dummy variables for the categorical features.
# Drop one level of each feature to end up with k-1 dummies, not k.
#Shouldn't touch Title. It's not a category!
pd.get_dummies(songs, columns=['Top Genre','Artist'],drop_first=True)

,Index,Title,Beats Per Minute (BPM),Energy,Loudness (dB),Liveness,Length (Duration),Acousticness,Speechiness,Popularity,...,Artist_Yann Tiersen,Artist_Yes,Artist_Youp van 't Hek,Artist_Youssou N'Dour,Artist_Yusuf / Cat Stevens,Artist_ZZ Top,Artist_Zucchero,Artist_a-ha,Artist_blink-182,Artist_Ã‰dith Piaf
0,1,Sunrise,157.0,30.0,-14.0,11.0,201.0,94.0,3.0,71.0,...,0,0,0,0,0,0,0,0,0,0
1,2,Black Night,135.0,79.0,-11.0,17.0,207.0,17.0,7.0,39.0,...,0,0,0,0,0,0,0,0,0,0
2,3,Clint Eastwood,168.0,69.0,-9.0,7.0,341.0,2.0,17.0,69.0,...,0,0,0,0,0,0,0,0,0,0
3,4,The Pretender,173.0,96.0,-4.0,3.0,269.0,0.0,4.0,76.0,...,0,0,0,0,0,0,0,0,0,0
4,5,Waitin' On A Sunny Day,106.0,82.0,-5.0,10.0,256.0,1.0,3.0,59.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1989,1990,Heartbreak Hotel,94.0,21.0,-12.0,11.0,128.0,84.0,7.0,63.0,...,0,0,0,0,0,0,0,0,0,0
1990,1991,Hound Dog,175.0,76.0,-8.0,76.0,136.0,73.0,6.0,69.0,...,0,0,0,0,0,0,0,0,0,0
1991,1992,Johnny B. Goode,168.0,80.0,-9.0,31.0,162.0,74.0,7.0,74.0,...,0,0,0,0,0,0,0,0,0,0
1992,1993,Take Five,174.0,26.0,-13.0,7.0,324.0,54.0,4.0,65.0,...,0,0,0,0,0,0,0,0,0,0
1993,1994,Blueberry Hill,133.0,50.0,-10.0,16.0,148.0,74.0,3.0,56.0,...,0,0,0,0,0,0,0,0,0,0

Model Learning

In [25]:
#Using your processed data set from the previous exercise, create a new Pandas DataFrame called X that includes everything except the target variable column.
#  Make sure this is a new object; don't overwrite any previous data sets.

X = songs.drop(columns= 'Popularity')

In [26]:
#Create a new Pandas Series called y that includes just the target variable column. Again, make sure this is a new object.
Y = songs["Popularity"]

In [27]:
#Following the documentation above, create new objects X_train, X_test, y_train, and y_test. Let the test set be 30% of the original data set. 
# Specify a random seed value of your choice so you can reproduce your steps later.
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size = 0.30,random_state=2)

In [28]:
#Use the Pandas .describe() method to compare the descriptive statistics of the training sets and test sets.
X_train.describe()

,Index,Beats Per Minute (BPM),Energy,Loudness (dB),Liveness,Length (Duration),Acousticness,Speechiness,Age
count,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000
mean,986.001441,120.168588,59.917867,-9.070605,18.974784,264.632565,28.795389,5.049712,29.128712
std,574.561357,28.019261,22.210772,3.722831,17.057605,100.005777,29.053513,4.367373,16.258946
min,1.000000,15.000000,4.000000,-27.000000,2.000000,93.000000,0.000000,2.000000,2.769863
25%,496.750000,99.000000,42.000000,-11.000000,9.000000,213.000000,3.000000,3.000000,14.361644
50%,979.500000,120.000000,61.000000,-9.000000,12.000000,246.000000,18.000000,4.000000,28.497260
75%,1473.750000,136.000000,78.000000,-6.000000,22.000000,290.250000,50.000000,5.000000,43.627397
max,1994.000000,204.000000,100.000000,-2.000000,99.000000,1412.000000,99.000000,46.000000,66.145205

In [29]:
X_test.describe()

,Index,Beats Per Minute (BPM),Energy,Loudness (dB),Liveness,Length (Duration),Acousticness,Speechiness,Age
count,596.000000,596.000000,596.000000,596.000000,596.000000,596.000000,596.000000,596.000000,596.000000
mean,1019.974832,120.395973,59.062081,-8.885906,19.048658,257.696309,29.144295,4.859060,29.557217
std,579.030265,30.037023,22.071949,3.474817,15.946738,77.265123,29.033553,4.505862,15.839486
min,3.000000,37.000000,3.000000,-22.000000,2.000000,102.000000,0.000000,2.000000,2.769863
25%,500.250000,99.000000,42.750000,-11.000000,9.000000,210.000000,4.000000,3.000000,16.197260
50%,1046.000000,118.000000,61.000000,-8.000000,13.000000,243.500000,18.500000,4.000000,29.372603
75%,1528.500000,137.000000,77.000000,-6.000000,24.000000,287.000000,50.250000,5.000000,42.817808
max,1993.000000,305.000000,99.000000,-3.000000,97.000000,715.000000,98.000000,55.000000,64.479452

In [30]:
Y_train.describe()

count    1388.000000
mean       59.524496
std        14.416259
min        13.000000
25%        49.000000
50%        62.000000
75%        71.000000
max       100.000000
Name: Popularity, dtype: float64

In [31]:
Y_test.describe()

count    596.000000
mean      59.451342
std       14.256922
min       11.000000
25%       50.000000
50%       61.500000
75%       70.000000
max       98.000000
Name: Popularity, dtype: float64