In [2]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import pairwise_distances_argmin
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl

In [3]:
penguins = pd.read_csv("2021-11-ml-09-k-means-animals-dataset.csv")

In [ ]:
penguins.info()

In [4]:
penguins.head()

,Region,Stage,Individual ID,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,Anvers,"Adult, 1 Egg Stage",N1A1,39.1,18.7,181.0,3750.0,NaN,NaN,Not enough blood for isotopes.
1,Anvers,"Adult, 1 Egg Stage",N1A2,39.5,17.4,186.0,3800.0,8.94956,-24.69454,NaN
2,Anvers,"Adult, 1 Egg Stage",N2A1,40.3,18.0,195.0,3250.0,8.36821,-25.33302,NaN
3,Anvers,"Adult, 1 Egg Stage",N2A2,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.
4,Anvers,"Adult, 1 Egg Stage",N3A1,36.7,19.3,193.0,3450.0,8.76651,-25.32426,NaN

In [5]:
#Not telling us anything.
penguins.drop(columns=['Region','Stage','Comments','Individual ID'],inplace=True)
penguins.dropna(thresh=len(penguins.axes[1])/2,axis=0,inplace=True)

In [8]:
penguins.head()

,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Delta 15 N (o/oo),Delta 13 C (o/oo)
0,39.1,18.7,181.0,3750.0,NaN,NaN
1,39.5,17.4,186.0,3800.0,8.94956,-24.69454
2,40.3,18.0,195.0,3250.0,8.36821,-25.33302
4,36.7,19.3,193.0,3450.0,8.76651,-25.32426
5,39.3,20.6,190.0,3650.0,8.66496,-25.29805

In [9]:
mean_imp = SimpleImputer(missing_values=np.nan, strategy='mean')

penguins["Delta 13 C (o/oo)"] = mean_imp.fit_transform(penguins['Delta 13 C (o/oo)'].values.reshape(-1,1))
penguins["Delta 15 N (o/oo)"] = mean_imp.fit_transform(penguins['Delta 15 N (o/oo)'].values.reshape(-1,1))

In [11]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 342 entries, 0 to 343
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Culmen Length (mm)   342 non-null    float64
 1   Culmen Depth (mm)    342 non-null    float64
 2   Flipper Length (mm)  342 non-null    float64
 3   Body Mass (g)        342 non-null    float64
 4   Delta 15 N (o/oo)    342 non-null    float64
 5   Delta 13 C (o/oo)    342 non-null    float64
dtypes: float64(6)
memory usage: 18.7 KB

In [6]:
# Follow the steps in the lesson to prepare the data set for K-means clustering.

In [7]:
# Create a model for each value of K from 2 through 5, inclusive.
# Create a scatterplot for each model, using color to distinguish between clusters.